body {
    font-family: "Arial", sans-serif;
    background-color: #ffe4ec;
    text-align: center;
}

h1 {
    color: #ff7ea8;
}

.section {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
}

.divider {
    font-size: 20px;
    color: #ff7ea8;
    margin: 10px 0;
}

button {
    background-color: #ffb6c1;
    border: none;
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

#stickyNotesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.sticky-note {
    background-color: #ffd1dc;
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    text-align: left;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.instagram-link {
    color: pink;
    font-size: 18px;
    text-decoration: none;
}
